
/*css index pc*/

nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 
}

body.dark nav a{
  color: white;
}

body.dark h1{
  color: white;
}
body.dark h2{
  color: white;
}

body.dark div.texto{
  color: white;
}

body.dark label{
  color: white;
}


.habilidades{
  margin-top: 20px; 
  margin-left: 20px;
}

.textoHabilidades{
  margin-left: 31px;
  margin-top: 250px;
}

h1{
  color:black;
}
h2{
  color: black;
}

.row2{
  margin-top: 300px;
}

.row1{
  margin-top: 100px;
}

.row4{
  margin-top: 300px;
}

.card{
  margin-left: 5px;
}

.switch{
  background-color: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }
  &.active{
    background: orange;
    color: #000;
    &::after{
      right: 0;
      left: unset;
    }
  }

  span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
  }
  
}

.tituloHabilidades{
  text-align: center;
}


span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.tituloProyecto{
  text-align: center;
}

.imgMatching{
  margin-top: 130px;
  margin-bottom: 130px;
}

body{
  transition: .3s ease all;

  &.dark{
    background-color: #12568d;
  }
  
}
.boton{
  margin-top: 5px;
}



.nombre{
  text-decoration: none;
}


.fotoHab{
  border-radius: 35%;
  width: 200px;
}


.hab{
  margin-top: 200px;
}

@keyframes square-in-bottom-left {
  from {
    clip-path: inset(0 0 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:bottom-left"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-left both;
}

form{
  padding: 50px 55px;
  text-align: center;
}


/*css index pc*/



/*css index mobile*/


@media only screen and (max-width: 768px){
  .container{
    width: 711px;
  }

  .botonMenu{
    margin-left: 44px;
  }

  .nombreIr{
    font-size: 56px;
  }

  .profesionIr{
    font-size: 36px;
  }
  .botonVerP{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .tituloQuienSoy{
    text-align: center;
    font-size: 50px;
  }
  .texto{
    font-size: 25px;
  }
  .boton1{
    font-size: 30px;
  }

  .tituloHabilidades{
    text-align: center;
    font-size: 50px;
  }

  .habilidades {
    margin-top: 20px;
    margin-left: 46px;
  }
  .tituloProyecto{
    text-align: center;
    font-size: 50px;
  }

  .card-text{
    font-size: 24px;
  }
  .card-title{
    font-size: 30px;
    padding-bottom: 10px;
  }

  .tituloContacto{
    font-size: 50px;
  }


  .col-form-label{
    font-size: 35px;
  }
  .form-label{
    font-size: 35px;
  }

  .botonEnviarComent{
    font-size: 35px;
  }

  .btnCelu{
    font-size: 25px;
  }
  


}







/*css index mobile*/
